body {
    direction: rtl;
    background-color: #eee;
    text-align: right
}

.navbar-custom {
    background-color: #ffe393;
}

h3 {
    color: black;
    text-align: center;
}

#BTN {
    width: 200px;
    background-color: #FFE587;
    color: black;
    border: hidden;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10%;
}

#imgLogo {
    width: 60px;
    height: 50px;
}


.left-side-menu {
    text-align: center;
}

#LOgin {
    font-size: 80px;
    color: black;
    padding: 50px;
}

.content-page {
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px;
    margin-top: 30px
}

.page-title-box {
    height: 10px
}

.card-box {
    background-color: #ffff;
    margin-left: 0px;
}
