body {
    direction: rtl
}

.navbar-custom {
    background-color: #ffe393;
}

h3 {
    color: black;
    text-align: center;
}

img {
    width: 60px;
    height: 50px;
}

.left-side-menu {
    text-align: center;
}

#LOgin {
    font-size: 80px;
    color: black;
    padding: 50px;
}

#imgLogo {
    width: 60px;
    height: 50px;
}

.content-page {
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px;
    margin-top: 30px
}

#calendar {
    max-width: 990px;
    max-height: 550px;
}

.fc .fc-button-primary {
    background-color: #ffe393;
    border-color: #ffe393;
    color: black;
}

